# boolean [true]
VITE_DEBUG=
# -------------------------------------------------------------- #
# string [react-template]
VITE_NAME=
# string [A modern React template with Tailwind CSS and shadcn/ui]
VITE_DESCRIPTION=
# number [1234]
VITE_DEV_PORT=
# number [4321]
VITE_PREVIEW_PORT=
# number [80]
VITE_HTTP_PORT=
# number [443]
VITE_HTTPS_PORT=
# unix path [./config/ssl/selfsigned-cert.pem]
VITE_SSL_CERT_PATH=
# unix path [./config/ssl/selfsigned-key.pem]
VITE_SSL_KEY_PATH=