# boolean [true]
_WEBAPP_DEBUG=
# number [80]
_WEBAPP_HTTP_PORT=
# number [443]
_WEBAPP_HTTPS_PORT=
# unix path [./config/ssl/selfsigned-cert.pem]
_WEBAPP_SSL_CERT_PATH=
# unix path [./config/ssl/selfsigned-key.pem]
_WEBAPP_SSL_KEY_PATH=
